@model TPFINALLAB4MVC.Models.Jugador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Jugador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nickName" class="control-label"></label>
                <input asp-for="nickName" class="form-control" />
                <span asp-validation-for="nickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br/>
                <td>
                    @if (!string.IsNullOrEmpty(Model.fotografia))
                    {
                        <img src="~/images/jugadores/@Model.fotografia" id="imagen" class="img-thumbnail" style="max-width:50px; max-height:75px" asp-append-version="true" />
                    }
                </td>
                <br/>
                <label class="control-label">Seleccione Fotografia</label>
                <input type="file" id="foto" name="foto"@*  accept="image/jpeg"  *@/>
            </div>
            <input type="hidden" asp-for="fotografia" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js//preview.js"></script>